<app-comics-searcher (onEnter)="search($event)"> </app-comics-searcher>

<br />

<app-default-searches
  [defaultSearches]="defaultSearches"
  (onSelect)="search($event)"
></app-default-searches>

<div *ngIf="loading" class="d-flex justify-content-center">
  <img src="/assets/img/loading.gif" alt="Loading" />
</div>

<div *ngIf="isErrorOrNotFound" class="alert alert-danger mt-3">
  No hay resultados para {{ textSearch }}
</div>

<div *ngIf="!loading && comics.length > 0" class="row mt-4">
  <app-comics-list [comics]="comics"></app-comics-list>
</div>
